@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #F59E0B;
    --color-secondary: #312E81;
    --color-success: #10B981;
    --color-accent: #F97316;
  }
}
